.main-gate{
    height: 53px;
    width: auto;
    background: blueviolet;
}
.main-dashed{
    padding: 12px;
    text-decoration-line: none;
    color: white;
    float: left;
}
.image-dot {
    background-image: url('./images/background-image.jpg');
    height: calc(100vh - 30px);
    background-repeat: no-repeat;
    background-size: cover;
}
body{
 line-height: 1.4285em;
}

.company-logo{
    font-weight: 700;
}
.para-head{
    font-size: 24px;
    color: white;
    width: 527px;
    position: absolute;
    top: 131px;
    left: 372px;
}
.para-mid{
    font-size: 24px;
    color: white;
    width: 527px;
    position: absolute;
    top: 170px;
    left: 372px;
}