.main-gate{
    height: 53px;
    width: auto;
    background: blueviolet;
}
.main-dashed{
    padding: 12px;
    text-decoration-line: none;
    color: white;
    float: left;
}
.image-dot {
    background-image: url('./images/photo-1556155092-490a1ba16284.jpg');
    height: calc(100vh - 30px);
    background-repeat: no-repeat;
    background-size: cover;
}
body{
 line-height: 1.4285em;
}

.company-logo{
    font-weight: 700;
}
.para-head{
    font-size: 24px;
    width: 527px;
    position: absolute;
    top: 68px;
    font-weight: 700;
    left: 372px;
}
.sub_para{   
    font-size: 24px;
    width: 527px;
    position: absolute;
    top: 108px;
    font-weight: 700;
    left: 365px;
}
.para-mid{
    font-size: 16px;
    width: 922px;
    position: absolute;
    top: 149px;
    left: 175px;
}
.sub-para-mid{
    font-size: 24px;
    width: 527px;
    position: absolute;
    top: 210px;
    left: 372px;
}