.main-gate{
    height: 53px;
    width: auto;
    background: blueviolet;
}
.main-dashed{
    padding: 12px;
    text-decoration-line: none;
    color: white;
    float: left;
}
.image-dot {
    background-image: url('./images/background-image.jpg');
    height: calc(100vh - 30px);
    background-repeat: no-repeat;
    background-size: cover;
}
body{
 line-height: 1.4285em;
}

.company-logo{
    font-weight: 700;
}